@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css');
@import url('./reset.css');

:root {
  --color-primary: #03166c;
  --color-secondary: #2b2e33;
  --color-text: var(--color-white);

  --color-black: #191a1d;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  font-family: 'Nanum Gothic', sans-serif;
}

input {
  border: 0;
  outline: 0;
}

button {
  border: 0;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

/* Header */
header {
  margin: 7rem 0 3rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  width: 600px;
  height: 4rem;
  padding: 0.8rem 1.8rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: var(--color-secondary);
  font-size: 1.2rem;
  color: var(--color-text);
}

.search__button {
  width: 4rem;
  height: 4rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: var(--color-secondary);
  font-size: 1.2rem;
  color: var(--color-text);
}

/* Main */
.message {
  padding: 1.2rem;
  text-align: center;
  color: var(--color-text);
}

.lists {
  width: 600px;
  margin: 0 auto;
  background-color: var(--color-secondary);
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px dashed var(--color-text);
}

.item:last-child {
  border-bottom: 0;
}

.item__thumbnail {
  width: 88px;
  height: 124px;
  border-radius: 4px;
}

.item__contents {
  width: 100%;
  color: var(--color-text);
}

.item__contents > p {
  margin: 0.5rem;
}

.item__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.item__authors,
.item__datetime {
  font-size: 0.9rem;
}
